/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/font
/public/uploads/products/test
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer-setup.php
composer.phar
.idea

